<%- include ../layout/header %>

<form method="post">
  title:<br>
  <input type="text" name="title"><br>
  content:<br>
  <textarea name="content" rows="20" cols="30"></textarea><br>
  <input type="submit" value="post">
</form>

<%- include ../layout/footer %>